<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <title>Lunar Calendar by: Drew Hornbein</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <meta property="og:title" content="Dark Moon Lunar Calendar">
    <meta property="og:site_name" content="Dark Moon Rising">
    <meta property="og:url" content="https://dhornbein.github.io/dark-moon-rising">
    <meta property="og:description" content="The Dark Moon Lunar Calendar displays all the full lunar cycles for a given year between 1700 and 2100.">
    <meta property="og:type" content="place">
    <meta property="og:image" content="https://dhornbein.github.io/dark-moon-rising/og_graph_img.png">

    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <div id="main">



      <header>
        <div class="title">
          <b v-cloak>{{ year }}</b>
          Lunar Calendar
        </div>
        <div class="loader" v-if="loading"><span class="spinner">🌒</span> loading {{ sources.moon.apiOptions.year }}...</div>
        <nav class="controls" v-cloak>
          <button class="nav-year this-year" @click="gotoCurrentYear()">{{ currentYear }}</button>
          <button class="nav-year prev-year" @click="prevYear()">&larr;</button>
          <input type="number" :min="minYear" :max="maxYear" name="year" id="year-select" class="mono" v-model="sources.moon.apiOptions.year" @keyup.enter="getMoonData()">
          <button class="nav-year next-year" @click="nextYear()">&rarr;</button>
          <button type="button" @click="getMoonData()">Fetch <span class="mono">{{ sources.moon.apiOptions.year }}</span></button>
        </nav>
      </header>
      <div class="loading" v-if="! moonPhases">
        <span class="spinner">🌍</span>
        Loading...
      </div>
      <div class="error" v-else-if="moonPhases.error" v-cloak>
        ❌ {{ moonPhases.type }}
        <br>
        If this error persits please contact me: <a href="mailto:moon@dhornbein.com">moon@dhornbein.com</a>
      </div>
      <div class="calendar" v-else v-cloak>
        <div class="cycle" v-for="cycle in cycles" :style="cycleStyle">
          <div class="day" v-for="day in cycle"
            :data-month="day.month"
            :data-day="day.day"
            :data-weekday="day.weekDay"
            :data-time="day.time ? day.time.hours + ':' + day.time.minutes : false"
            :class="[day.phase, months[day.month], weeks[day.weekDay], {
              'month-start': day.day == 1,
              'week-start': day.weekDay == 0,
              'weekday': day.weekDay > 0 && day.weekDay < 6,
              'today': day.date.toDateString() == today
            }]">
            <div class="phase">
            </div>
            <div class="month">{{ months[day.month] }}</div>
            <div class="date">{{ day.day }}</div>
            <div class="morning">
              <time :datetime="day.time.hours + ':' + day.time.minutes" v-if="day.time && day.time.hours <= 12">{{ day.time.hours + ':' + day.time.minutes }}</time>
            </div>
            <div class="week">{{ weeks[day.weekDay] }}</div>
            <div class="afternoon">
              <time :datetime="day.time.hours + ':' + day.time.minutes" v-if="day.time && day.time.hours > 12">{{ day.time.hours + ':' + day.time.minutes }}</time>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer>
      <div class="credit">
        © Drew Hornbein 2018 -
        <a href="mailto:moon@dhornbein.com">email</a> /
        <a href="//twitter.com/hornbein">twitter</a>
        <br>
        <a href="https://github.com/dhornbein/dark-moon-rising">Issues and code on github.com</a>
      </div>
      <div class="source">
        Lunar data provided by the
        <br>
        <a href="https://github.com/CraigChamberlain/moon-data">United States Naval Observatory</a>
      </div>
    </footer>

<script src="script.js"></script>

    </body>
  </html>
